@import url('https://fonts.googleapis.com/css2?family=Epilogue:wght@500;700&display=swap');

:root {
    /* ## Colors */
    /* ### Neutral */
    --almost-white: hsl(0, 0%, 98%);
    --medium-gray: hsl(0, 0%, 41%);
    --almost-black: hsl(0, 0%, 8%);
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Epilogue', sans-serif;
}

body {
    background-color: var(--almost-white);
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem 1.5rem;
}

#mobile-menu-icon {
    cursor: pointer;
}

.container {
    display: flex;
    flex-direction: column;
}

.hero picture {
    width: 100%;
}

.hero picture img {
    width: 100%;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 2rem 1.5rem;
}

.content h1 {
    font-weight: 700;
    font-size: 2.25rem;
    color: var(--almost-black);
    margin: 1.5rem 0;
}

#desktop-heading {
    display: none;
}

.content p {
    font-weight: 500;
    font-size: 1.25rem;
    line-height: 1.85rem;
    color: var(--medium-gray);
}

.content button {
    cursor: pointer;
    outline: none;
    border: none;
    font-weight: 500;
    font-size: 1.25rem;
    background-color: var(--almost-black);
    color: var(--almost-white);
    border: 2px solid transparent;
    border-radius: 1rem;
    margin: 2rem 0;
    padding: 1rem 1.5rem;
}

.content button:hover {
    transition: .2s ease-out;
    background-color: transparent;
    color: var(--almost-black);
    border: 2px solid var(--almost-black);
}

.client-logos {
    margin: 1rem 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.client-logos img {
    width: 4.5rem;
}

.attribution { 
    font-size: 13px; 
    color: var(--medium-gray);
    text-align: center; 
}

.attribution a { 
    font-weight: 700;
    color: var(--almost-black); 
}

@media screen and (min-width: 850px) {

    .container {
        margin: 0 8%;
        margin-bottom: 8%;
        display: flex;
        flex-direction: row-reverse;
        gap: 12%;
        align-items: center;
        justify-content: center;
    }

    #mobile-menu-icon {
        display: none;
    }
    
    .content {
        align-items: flex-start;
        justify-content: center;
        text-align:start;
        padding: 2rem 1.5rem;
    }

    .content h1 {
        font-size: 5.5em;
        margin: 2rem 0;
    }

    #desktop-heading {
        display: block;
    }

    #mobile-heading {
        display: none;
    }
    
    .content p {
        max-width: 80%;
        font-size: 1.5rem;
        line-height: 2.5rem;
    }

    .client-logos {
        margin: 4rem 0;
    }
    
    .client-logos img {
        width: 5.5rem;
    }
}