@import url('https://fonts.googleapis.com/css2?family=Epilogue:wght@500;700&display=swap');

:root {
    /* ## Colors */
    /* ### Neutral */
    --almost-white: hsl(0, 0%, 98%);
    --medium-gray: hsl(0, 0%, 41%);
    --almost-black: hsl(0, 0%, 8%);
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Epilogue', sans-serif;
}

body {
    background-color: var(--almost-white);
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem 1.5rem;
}

nav a {
    text-decoration: none;
    color: var(--medium-gray);
}

nav a:hover,
.drop-down-btn:hover a {
    transition: .2s ease-out;
    color: var(--almost-black);
}

#desktop-navbar {
    display: none;
}

#mobile-menu-icon {
    cursor: pointer;
}

.overlay {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    height: 100%;
    width: 0%;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: hsla(0, 0%, 8%, 0.7);
    overflow-x: hidden;
    transition: .1s ease-out;
}

.overlay #menu-close-icon {
    cursor: pointer;
    position: absolute;
    right: 0.15rem;
    padding: 2rem 1.5rem;
    z-index: 2;
}

.overlay-content {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
    width: 50%;
    height: 100%;
    padding-top: 6rem; 
    padding-left: 2rem;
    padding-right: 2rem;
    background-color: var(--almost-white);
}

.drop-down-btn {
    cursor: pointer;
    display: flex;
    gap: 0.5rem;
}

.drop-down-btn span {
    width: 1rem;
    aspect-ratio: 1;
    background: url(./images/icon-arrow-down.svg) no-repeat;
    background-position: center;
}

.drop-down-btn:hover span,
.drop-down-btn:focus span,
.drop-down-btn:active span {
    transition: .2s ease-out;
    background: url(./images/icon-arrow-up.svg) no-repeat;
    background-position: center;
    filter: brightness(0);
}

.drop-down-content {
    display: none;
    background-color: var(--almost-white);
    border-radius: 0.5rem;
    z-index: 2;
    padding: 1rem;
}

.drop-down-content a {
    display: flex;
    gap: 0.85rem;
    align-items: center;
    font-size: 0.95rem;
    text-decoration: none;
    color: var(--medium-gray);
    padding: 0.5rem;
}
  
.drop-down-content a:hover {
    transition: .2s ease-out;
    color: var(--almost-black);
}

.drop-down:hover .drop-down-content,
.drop-down:focus .drop-down-content,
.drop-down:active .drop-down-content {
    transition: .2s ease-out;
    display: block;
}

nav .buttons {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-self: center;
    align-items: center;
}

#register-btn {
    width: 100%;
    text-align: center;
    border: 2px solid var(--medium-gray);
    border-radius: 1rem;
    padding: 0.85rem 0rem;
}

#register-btn:hover {
    transition: .2s ease-out;
    border: 2px solid var(--almost-black);
}

.container {
    display: flex;
    flex-direction: column;
}

.hero picture {
    width: 100%;
}

.hero picture img {
    width: 100%;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 2rem 1.5rem;
}

.content h1 {
    font-weight: 700;
    font-size: 2.25rem;
    color: var(--almost-black);
    margin: 1.5rem 0;
}

#desktop-heading {
    display: none;
}

.content p {
    font-weight: 500;
    font-size: 1.25rem;
    line-height: 1.85rem;
    color: var(--medium-gray);
}

.content button {
    cursor: pointer;
    outline: none;
    border: none;
    font-weight: 500;
    font-size: 1.25rem;
    background-color: var(--almost-black);
    color: var(--almost-white);
    border: 2px solid transparent;
    border-radius: 1rem;
    margin: 2rem 0;
    padding: 1rem 1.5rem;
}

.content button:hover {
    transition: .2s ease-out;
    background-color: transparent;
    color: var(--almost-black);
    border: 2px solid var(--almost-black);
}

.client-logos {
    margin: 1rem 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.client-logos img {
    width: 4.5rem;
}

.attribution { 
    font-size: 13px; 
    color: var(--medium-gray);
    text-align: center; 
}

.attribution a { 
    font-weight: 700;
    color: var(--almost-black); 
}

@media screen and (min-width: 850px) {

    header {
        justify-content:start;
        gap: 5%;
    }

    #mobile-menu-icon {
        display: none;
    }

    #desktop-navbar {
        display: block;
        width: 100%;
        display: flex;
        justify-content: space-between;
    }

    .drop-down {
        position: relative;
        display: inline-block;
    }

    .drop-down-content {
        display: block;
        position: absolute;
        top: 1.5rem;
        box-shadow: 0px 10px 50px -25px var(--almost-black);
        z-index: 1;
        opacity: 0;
    }
    
    #features-menu {
        transform: translateX(-4rem);
    }

    #company-menu {
        min-width: 6rem;
    }

    .drop-down:hover .drop-down-content,
    .drop-down:focus .drop-down-content {
        transition: .2s ease-out;
        opacity: 1;
    }

    nav .links,
    nav .buttons {
        width: auto;
        display: flex;
        flex-direction: row;
        gap: 2.5rem;
        align-items: center;
    }
    
    #register-btn {
        border: 2px solid var(--medium-gray);
        border-radius: 1rem;
        padding: 0.85rem 1.5rem;
    }

    .container {
        margin: 0 8%;
        margin-bottom: 5%;
        display: flex;
        flex-direction: row-reverse;
        gap: 12%;
        align-items: center;
        justify-content: center;
    }

    .content {
        align-items: flex-start;
        justify-content: center;
        text-align: start;
        padding: 2rem 1.5rem;
    }

    .content h1 {
        font-size: 5.5em;
        margin: 2rem 0;
    }

    #desktop-heading {
        display: block;
    }

    #mobile-heading {
        display: none;
    }
    
    .content p {
        max-width: 80%;
        font-size: 1.5rem;
        line-height: 2.5rem;
    }

    .client-logos {
        margin: 4rem 0;
    }
    
    .client-logos img {
        width: 5.5rem;
    }
}